body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body;
  font-size: 1em;
  font-weight: 400;
  color: $color-white;
  background-color: $color-secondary;

  @media (max-width: $screen-size-xs-down) {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

body {
  min-height: 100%;
  overflow-x: hidden;

  opacity: 1;
  transition: 1.5s opacity ease-in-out;
  
  &.hidden {
    opacity: 0;
    transition: none;
  }
  &.fade-in {
    opacity: 1;
    transition: 1.5s opacity ease-in-out;
  }
  &.fade-out {
    opacity: 0;
    transition: 1.5s opacity ease-in-out;
  }
}

/****************************************
 * Formatting Styling
****************************************/
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
li,
a,
img,
span {
  &::selection {
    color: $color-secondary;
    background-color: $color-primary;
  }
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -9999px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
}

/****************************************
 * Global Styling
****************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-brand;
  font-variant-ligatures: no-common-ligatures;
}

h1,
.h1 {
  font-size: ( $h1-font-size / 1.5 );
  font-weight: 700;
  margin: 0 0 1rem 0;
  
  @include media-breakpoint-up($screen-size-lg-up) {
    font-size: calculateRem($h1-font-size);
  }
}

h2,
.h2 {
  font-size: ( $h2-font-size / 1.5 );
  
  @include media-breakpoint-up($screen-size-lg-up) {
    font-size: calculateRem($h2-font-size);
  }
}

h3,
.h3 {
  font-size: ( $h3-font-size / 1.5 );
  
  @include media-breakpoint-up($screen-size-lg-up) {
    font-size: calculateRem($h3-font-size);
  }
}

h4,
.h4 {
  font-size: ( $h4-font-size / 1.15 );
  
  @include media-breakpoint-up($screen-size-lg-up) {
    font-size: calculateRem($h4-font-size);
  }
}

h5,
.h5 {
  font-size: ( $h5-font-size / 1.15 );
  
  @include media-breakpoint-up($screen-size-lg-up) {
    font-size: calculateRem($h5-font-size);
  }
}

a {
  color: $color-primary;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    color: $color-tertiary;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
}
