/****************************************
 * Navigation Button Styling
****************************************/
.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__line {
    width: 100%;
    height: 3px;
    background-color: $color-white;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition:
      background-color 0.3s ease-in,
      transform 0.3s;
    
    &--1 {
      transform: translate(-50%, -10px);

      .nav-is-open & {
        background-color: transparent;
        transition: background-color 0.15s ease-in;
      }
    }

    &--2,
    &--3 {
      transform-origin: center center;
      transform: translate(-50%, -50%);
      
      .nav-is-open & {
        background-color: $color-primary;
      }
    }
    
    &--2 {
      .nav-is-open & {
        transform:
          translate(-50%, -50%)
          rotate(45deg);
      }
    }
    
    &--3 {
      .nav-is-open & {
        transform:
          translate(-50%, -50%)
          rotate(-45deg);
      }
    }

    &--4 {
      transform: translate(-50%, 7px);

      .nav-is-open & {
        background-color: transparent;
        transition: background-color 0.15s ease-in;
      }
    }
  }
}

/****************************************
 * General Button Styling
****************************************/
.btn {
  background-color: $color-tertiary;
  border: none;
  border-radius: 100px;
  padding: 15px;
  font-weight: 700;
  
  &:before {
    .menu li & {
      content: initial;
      content: unset;
    }
  }
  
  @include btn-slide(darken($color-tertiary, 15%));
  
  &--menu__item {
    text-shadow: none;
    
    @include media-breakpoint-up($screen-size-lg-up) {
      padding: 15px 30px;
    }

    @include media-breakpoint-down($screen-size-md-down) {
      color: $color-white;
      border-radius: 0;
      @include btn-slide(darken($color-tertiary, 15%), calculateRem(768px));
    }
  }
}