/****************************************
 * Content Area
****************************************/
.content {
  color: $color-primary;
  
  &__heading {
    display: -ms-flexbox;
    display: flex;
    
    &__inner {
      margin: auto;
      
      h2 {
        @include slide-in(left);

        max-width: 45rem;
        line-height: 108%;
        margin-bottom: 0;
        padding: 2rem;

        @include media-breakpoint-up($screen-size-md-up) {
          padding: 3rem;
        }
        
        @include media-breakpoint-up($screen-size-xl-up) {
          font-size: $h1-font-size;
          padding: 4rem;
        }
      }
    }
  }

  &__img__img {
    @include slide-in(right);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
  }
}