/****************************************
 * Footer  Styling
****************************************/
.footer {
  background-color: $color-primary;
  color: $color-white;
  padding-top: 30px;
  padding-bottom: 30px;
  
  @include media-breakpoint-up($screen-size-md-up) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
