/****************************************
 * Grid Styling
****************************************/
.container--fluid {
  margin-left: 15px;
  margin-right: 15px;

  @media (min-width: 48em) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: 75em) {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.grid {
  &__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    &--lg-50 {
      @include media-breakpoint-up($screen-size-lg-up) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    &--md-50 {
      @include media-breakpoint-up($screen-size-md-up) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    
    &--sm-50 {
      @include media-breakpoint-up($screen-size-sm-up) {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
