/****************************************
 * Header Styling
****************************************/
.header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;

  &.is-scrolled {
    background-color: $color-primary;
    transition: background-color 0.3s ease-in;
  }

  &__inner {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: padding 0.3s ease-in;

    .is-scrolled & {
      padding-top: 10px;
      padding-bottom: 10px;
      transition: padding 0.3s ease-in;

      @include media-breakpoint-up($screen-size-md-up) {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
    
    @include media-breakpoint-up($screen-size-md-up) {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }

  &__logo {
    @include media-breakpoint-down(350px) {
      width: 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
      padding-right: 15px;
    }

    svg {
      max-width: 100%;
    }
  }

  &__menu__btn {
    height: 100%;
    display: block;
    position: relative;
    border: none;
    background-color: $color-tertiary;
    padding: 10px;
    z-index: 1010;

    @include media-breakpoint-up($screen-size-md-up) {
      display: none;
    }
  }
  
  &__nav {
    margin-left: auto;
  }
}

/****************************************
 *   Styling
****************************************/
.header-img {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: $color-black;
  
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: 100% 50%;
    opacity: 0.9;
  }
  
  &__content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &__title {
    @include slide-in(left, 1s);

    text-shadow: 0px 2px 20px rgba(24, 24, 24, 0.4);
    line-height: 93.75%;
    margin-bottom: 2rem;
    
    @include media-breakpoint-up($screen-size-sm-up) {
      font-size: calculateRem($h2-font-size);
    }
    
    @include media-breakpoint-up($screen-size-md-up) {
      font-size: calculateRem($header-title-font-size);
    }
  }
  
  &__tagline {
    @include slide-in(right, 1s);
  
    font-size: $font-size-lg;
    font-weight: 700;
    text-shadow: 0px 2px 20px rgba(24, 24, 24, 0.4);

    @include media-breakpoint-up($screen-size-sm-up) {
      font-size: calculateRem(24px);
    }
    
    @include media-breakpoint-up($screen-size-md-up) {
      font-size: calculateRem(32px);
    }
  }
}