/****************************************
 * Navigation Styling
****************************************/
.menu {
  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    
    @include media-breakpoint-up($screen-size-md-up) {
      display: flex;
      justify-content: center;
      -ms-flex: 1;
      flex: 1;
    }
    
    li {
      @include media-breakpoint-up($screen-size-md-up) {
        margin-right: 15px;
        margin-left: 15px;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      
      a {
        color: $color-white;
        @include link-underline-animation($color-tertiary)
      }
    }
    
    &--primary {
      @include media-breakpoint-up($screen-size-lg-up) {
        font-size:  calculateRem(22px);
      }
      
      li a {
        @include media-breakpoint-up($screen-size-md-up) {
          @include link-underline-animation($color-tertiary) {
            &::before {
              bottom: -6px;
            }
          }

          &:not(.btn) {
            font-weight: 700;
            text-shadow: 0px 2px 10px rgba(24, 24, 24, 0.8);
          }
        }
        
        @include media-breakpoint-down($screen-size-md-down) {
          display: block;
          border-bottom: 1px solid #edecf2;
          color: $color-primary;
          padding: 15px;

          &:hover {
            border-color: $color-tertiary;
          }
        }
      }
    }
    
    &--secondary li {
      display: inline-block;
      margin: 5px;
    }
  }

  &--primary {
    @include media-breakpoint-down($screen-size-md-down) {
      width: 100%;
      height: 100vh;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-white;
      padding: 15px 0;
      overflow-y: auto;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;

      .nav-is-open & {
        transform: translateY(0%);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &__logo {
    display: inline-block;
    padding: 9px 15px;

    @include media-breakpoint-up($screen-size-md-up) {
      display: none;
    }

    @include media-breakpoint-down(350px) {
      width: 75%;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
      padding-right: 15px;
    }

    svg {
      max-width: 100%;
    }
  }
} 
