/****************************************
 * Theme sizing
****************************************/
//1200 px
$screen-size-xl-up: calculateRem(1200px);
$screen-size-xl-down: calculateRem(1199px);
//992 px
$screen-size-lg-up: calculateRem(992px);
$screen-size-lg-down: calculateRem(991px);
//768 px
$screen-size-md-up: calculateRem(768px);
$screen-size-md-down: calculateRem(767px);
//576 px
$screen-size-sm-up: calculateRem(576px);
//575 px
$screen-size-sm-down: calculateRem(575px);
//350 px
$screen-size-xs-down: calculateRem(350px);

/****************************************
 * Branding colors
****************************************/
$color-white: 		#fff;
$color-black: 		#000;

$color-primary: #1B1947;
$color-secondary: #EBE772;
$color-tertiary: #9EBE53;

/****************************************
 * Typography fonts
****************************************/
$font-body: "Lato", sans-serif;
$font-brand: $font-body;

$h1-font-size: 72px;
$h2-font-size: 60px;
$h3-font-size: 48px;
$h4-font-size: 28px;
$h5-font-size: 24px;
$h6-font-size: 18px;

$header-title-font-size: 110px;

/****************************************
 * Links & Buttons
****************************************/
// $link:							$color-red;
// $link-focus: 				lighten($link, 10%);
// $link-color: 				$color-red;
// $link-hover-color:  lighten($link-color, 15%);

/* Buttons */
$border-radius: 0 !default;
$btn-border-radius: 0 !default;

/****************************************
 * Custom
****************************************/
$font-size-lg: 									 calculateRem(20px);
$font-size-md: 									 calculateRem(18px);
$font-size-sm: 									 calculateRem(14px);
